.auth-container {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    padding: 5rem; 
}
.auth-header {
    margin: 2rem 0rem; 
}
.auth-form {
    margin: 0rem; 
    width: 300px; 
    display: flex;
    flex-direction: column;
}
.form-label {
    margin-top: 10px; 
    margin-bottom: 2px; 
    font-weight: 600; 
}
.form-input {
    font-size: 18px; 
    height: 30px; 
}
.submit-button {
    font-size: 16px; 
    padding: 5px 10px;
    background-color: black; 
    color: white;  
}
.submit-button:hover {
    cursor: pointer; 
    font-weight: 600; 
}