.userprofile {
    /* padding: 2rem 0rem;  */
    padding: 0rem 3rem; 
    /* align-items: center; 
    justify-content: center;  */
    min-width: 500px; 
    /* flex: 0.7;  */
}
.userprofile-banner {
    justify-content: space-between; 
}
.userprofile-top {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;

}
.userprofile-photo-container {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    position: relative; 
}
/* .userprofile-photo-container:hover {
    cursor: pointer; 
    opacity: 1; 
} */
.userprofile-photo {
    display: block; 
    width: 160px; 
    height: 160px; 
    border-radius: 80px; 
}
.userprofile-photo:hover {
    cursor: pointer; 
    opacity: 0.5;
}
.photo-overlay1 {
    position: absolute; 
    /* top: 0;  */
    bottom: 0; 
    /* left: 0; 
    right: 0;  */
    width: 160px; 
    height: 80px; 
    border-radius: 0px 0px 80px 80px;
    /* color: white;
    background-color: black;  */
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1;
    opacity: 0; 
    font-size: 20px; 
    text-align: center; 
    transition: .5s ease; 
}
.photo-overlay {
    position: absolute;
    bottom: 0;
    /* color: #f1f1f1; */
    width: 100%;
    transition: .5s ease;
    opacity: 0.8;
    /* background-color: white; */
    background-color: white;
    color: black;
    font-weight: 600; 
    padding: 20px;
    text-align: center;
}
.photo-overlay:hover {
    cursor: pointer;  
    opacity: 0.9;
}
.edit-photo-button {
    border: none; 
    /* position: absolute;  */
    font-size: 13px; 
    font-weight: 600; 
    /* left: 50%;  */
    opacity: 0.9; 
    /* background-color: white;  */
    color: black;
}
.edit-photo-button:hover {
    cursor: pointer; 
    opacity: 1;
}
.userprofile-main {
    display: flex; 
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    padding: 20px 0px; 
}
.edit-photo-button {
    font-size: 16px; 
    padding: 2px 5px; 
}
.update-photo-container {
    margin: 10px 0px; 
    display: flex; 
    flex-direction: row; 
    align-items: center;
}
.photo-form {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
}
.photo-actions {
    display: flex; 
    flex-direction: row; 
}
.update-photo-button {
    font-size: 15px; 
    padding: 5px 10px; 
    margin-right: 5px; 
    background-color: black; 
    color: white; 
}
.update-photo-button:hover {
    cursor: pointer; 
    font-weight: 600; 
}
.cancel-photo-button {
    font-size: 15px; 
    padding: 5px 10px; 
    margin-right: 5px; 
    background-color: white; 
    color: black; 
}
.cancel-photo-button:hover {
    cursor: pointer; 
    font-weight: 600; 
}
.edit-button {
    font-size: 16px; 
    padding: 2px 5px; 
    float: right; 
}
.edit-button:hover {
    cursor: pointer; 
    font-weight: 600; 
}
.userprofile-form {
    display: flex; 
    flex-direction: column; 
    min-width: 350px; 
    padding: 20px; 
}
.userprofile-info {
    display: flex;
    flex-direction: column; 
    padding: 20px 10px; 
}
.userprofile-item {
    display: flex; 
    flex-direction: row; 
}
.item-label {
    margin-top: 10px; 
    margin-right: 5px; 
    font-size: 16px; 
    font-weight: 600; 
}
.form-label {
    margin-top: 10px; 
    margin-right: 5px; 
}
.form-input {
    margin-right: 5px; 
    font-size: 18px; 
}
.form-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin: 10px 0px;  */
}
/* .cancel-button {
    font-size: 16px; 
    padding: 5px 10px; 
    flex: 0.3;
}
.submit-button {
    flex: 0.7;
} */