.usersearch {
    /* padding: 2rem 0rem;  */
    padding: 0rem 3rem; 
    /* flex: 0.7;  */
}
.usersearch-container {
    width: 100%; 
    display: flex; 
    flex-direction: column; 
}
.searchbar {
    /* background: #fff; */
    /* height: 30%;
    /* float: right;  */
    /* position: right; */
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    /* justify-content: left; */
  }
.search-header {
    font-size: 20px; 
    margin: 10px 0px; 
    padding: 0px; 
}
.search-form {
    display: flex;
    flex-direction: column; 
    margin: 10px 0px; 
}
.search-form-item {
    margin: 10px 0px; 
    text-align: left; 
}
.form-label {
    font-size: 16px; 
    font-weight: 600; 
    margin-right: 5px; 
}
.form-input {
    padding: 2px; 
}
.form-select {
    font-size: 16px; 
    padding: 2px; 
}
.search-actions {
    margin: 10px 0px; 
}
.search-button {
    margin-right: 10px; 
    padding: 2px 5px; 
    font-size: 16px; 
}
.searchsortfilter-container {
    display: flex; 
    justify-content: space-between; 
}
.searchresults {
    padding: 1rem 0rem; 
}
.searchresults-action-container {
    display: flex; 
    flex-direction: row; 
    padding: 10px 0px; 
}
.searchresults-action {
    margin-right: 20px; 
    display: flex; 
    flex-direction: row; 
}
.search-label {
    margin-right: 5px; 
}
.search-select {
    padding: 2px 0px; 
}
.cancel-button {
    font-size: 16px; 
    padding: 5px 10px; 
    margin-right: 5px; 
    background-color: white; 
    color: black; 
}
.cancel-button:hover {
    cursor: pointer; 
    font-weight: 600; 
}
.submit-button {
    font-size: 16px; 
    padding: 5px 10px; 
    margin-right: 5px; 
    background-color: black; 
    color: white; 
}
.submit-button:hover {
    cursor: pointer; 
    font-weight: 600; 
}