.visitorhome {
    width: 100%; 
    align-items: center; 
    display: flex; 
    flex-direction: column;
}
.home-subheader {
    padding: 5px 0px; 
}
.userhome {
    /* padding: 3rem 0rem;  */
    display: flex; 
    flex-direction: column; 
}
